#headerwrap .social-widget strong,
.fixed-header-on #headerwrap .social-widget{
	display:none
}
#header .social-widget{
	margin-left:10px;
}
.social-widget a{
	color:inherit
}
.social-links .icon-medium i{
	border-radius:100%;
	padding:9px;
	margin:0;
	line-height:1em
}
.social-links a:hover i {
	background:rgba(150,150,150,.15);
}
.social-widget .widget div{
	display:inline
}
.social-widget .widget {
	margin:0
}
.social-widget .social-links.horizontal {
	margin:0;
}
.social-widget .social-links.horizontal li{
	padding:0;
	margin:0 6px 0 0;
	clear:none;
	line-height:100%;
}
.social-widget li img{
	margin-top:-3px
}
.social-links li i{
	border-radius:100%;
	padding:.25em;
	margin-right:.25em;
	width:1.1em;
	height:1.1em;
	line-height:1.1em
}
/* footer social-widget */
#footer .social-widget{
	padding-bottom:1.6em
}
#footer .social-widget .widget,
.footer-left-col #footer .social-widget .widget,
.footer-right-col #footer .social-widget .widget{
	margin:0
}
.feature-posts + .themify-social-links{
	text-align:left
}