.swiper-container-vertical .swiper-wrapper{
  flex-direction:column
}
.swiper-container-vertical .tf_carousel_bullets{
  right:10px;
  top:50%;
  transform:translate3d(0,-50%,0)
}
.swiper-container-vertical .tf_carousel_bullets .tf_carousel_bullet{
  margin:6px 0;
  display:block
}