#search-lightbox-wrap{
    padding:8%;
    overflow-y:auto;
    -webkit-overflow-scrolling:touch;
    position:fixed;
    bottom:0;
    left:0;
    z-index:99999;
    height:100%;
    box-sizing:border-box;
    background-color:rgba(255,255,255,.95);
    -webkit-backdrop-filter:blur(10px);
    backdrop-filter:blur(10px)
}
#search-lightbox-wrap #searchform{
	font-size:2em;
	color:#000
}
.search-lightbox{
    max-width:660px;
    margin:auto;
    transform:translateY(-10%);
    transition:opacity .5s linear;
    transition-delay:.5s;
    opacity:0
}
.searchform-slidedown .search-lightbox{
	transform:none;
	opacity:1
}
.search-lightbox #searchform-wrap{
	display:block;
	float:none;
	margin:0 0 1em .2em;
	position:static
}
/* animate search input */
#search-lightbox-wrap #searchform-wrap{
	margin-top:25%
}
#search-lightbox-wrap #searchform-wrap #searchform{
	font-size:2.5em;
	transition:width .5s ease-in-out,padding .5s ease-in-out,background-color .5s ease-in-out,color .5s ease-in-out
}
#search-lightbox-wrap.search-active #searchform-wrap{
	margin-top:0
}
#search-lightbox-wrap.search-active #searchform-wrap #searchform{
	font-size:2em
}
#searchform .tf_loader{
    position:absolute;
    bottom:20px;
    right:5px;
    font-size:.6em
}
.themify-loading .tf_loader{
    display:inline-block
}
#close-search-box{
    color:#000;
    position:fixed;
    top:3%;
    right:4%;
    width:36px;
    height:36px;
    z-index:9999;
    transition:transform .3s;
    border-radius:100%
}
#close-search-box:before,
#close-search-box:after{
    height:60%
}
#close-search-box:hover{
    background-color:rgba(150,150,150,.15)
}
.search-results-wrap{
    min-height:50px
}
.search-results-wrap > p{
    text-align:center
}
/* search option tab */
.search-option-tab{
    margin:0 0 1.4em;
    padding:0;
    box-shadow:inset 0 -1px 0 0 rgba(0,0,0,.1)
}
.search-option-tab li{
    display:inline-block;
    margin:0;
    padding:0
}
.search-option-tab li a{
	display:inline-block;
	padding: .8em 1em;
	text-decoration:none;
	text-transform:uppercase;
	font-size:.9em;
	font-weight:600;
}
.search-option-tab li:hover a,
.search-option-tab li.active a{
	box-shadow:inset 0 -3px 0 0 #ed1e24;
	color:#060604
}
/* search result item */
.search-results-wrap a{
	color:inherit;
	text-decoration:none
}
.search-results-wrap a:hover{
	text-decoration:none
}
.search-results-wrap a[style="display:inline;"]{
	display:inline-block!important
}
.result-item{
	border-bottom:1px solid rgba(0,0,0,.05);
	clear:both;
	overflow:hidden;
	padding:1em 0;
	position:relative
}
.result-item .title{
	font-size:1.2em;
	font-weight:400;
	margin:0 0 .06em;
	letter-spacing:-.01em
}
.result-item .price{
	display:block;
	font-size:.9em
}
.result-item .price del{
	margin-right:.2em;
	font-size:.7em;
	opacity:.5
}
.result-item img{
	float:right;
	margin:0 0 0 15px;
	border-radius:8px
}
/* search view all wrap */
.view-all-wrap{
	clear:both;
	text-align:center;
	padding-top:1.9em
}
.view-all-button{
    font-size:.9em;
    font-weight:600;
    display:inline-block;
    text-transform:uppercase;
    letter-spacing:.08em;
    line-height:2em;
    margin:0 0 .8em;
    padding:0;
    display:none
}
.view-all-button:after{
    content:'';
    display:block;
    border-bottom:3px solid #ed1e24
}
.view-all-button[style*="display: inline;"],
.view-all-button[style*="display:inline;"]{
	display: inline-block!important
}
/* Rounded BG searchform */
#searchform-wrap{
	display:inline-block;
	vertical-align:middle;
	margin:0 0 1em .2em
}
@media screen and (max-width:760px){
	#search-lightbox-wrap #searchform-wrap #searchform{
		font-size:1.6em
	}
	#search-lightbox-wrap.search-active #searchform-wrap #searchform{
		font-size:1.3em
	}
	#close-search-box{
            top:10px
	}
}
@media screen and (max-width:680px){
	#search-lightbox-wrap.search-active #searchform-wrap{
		margin-top:20px;
	}
	.search-option-tab li a{
		font-size:.7em;
		padding:.6em
	}
	.search-results-wrap a{
		font-size:.8em
	}
}