.full-section-scrolling #pagewrap{
	margin:0 auto; /* prevent pagewrap margin override */
}
.full-section-scrolling .page-title{
	display:none
}
.fixed-header-enabled #headerwrap.fixed-header{
	position:fixed
}
.full_width .module_row .fp-scroller > .row_inner,
.full_width .module_row .fp-tableCell > .row_inner{
	width:1160px;
	max-width:100%;
	margin:0 auto
}
.full_width .module_row.fullwidth .fp-scroller > .row_inner,
.full_width .module_row.fullwidth .fp-tableCell > .row_inner{
	width:100%
}
.fp-tableCell{
    vertical-align:middle;
	height:100%!important
}
/* set section scroll footer back top */
.full-section-scrolling #footerwrap{
    position:fixed;
    z-index:9999;
    top:auto;
    bottom:0;
    left:0;
    width:100%;
	border:none;
    transition:transform .3s ease-in-out;
    transform:translateY(100%)
}
.full-section-scrolling #footerwrap{
    padding-bottom:0
}
.header-minbar.full-section-scrolling #footerwrap{
	margin-left:69px;
	padding-left:0
}
.full-section-scrolling .back-top{
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:auto;
	bottom:100%;
	margin:0;
	width:60px;
	height:35px;
	transition:transform .7s ease-in-out;
	font-size:35px
}
#footerwrap.expanded{
	transform:translateY(0);
	max-height:80vh;
	overflow:auto;
	-webkit-overflow-scrolling:touch
}
.full-section-scrolling #footerwrap.expanded .back-top{
	transform:translate(-50%,100%)
}
.full-section-scrolling.footer-horizontal-left #footer,
.full-section-scrolling.footer-horizontal-right #footer,
.full-section-scrolling.footer-left-col #footer,
.full-section-scrolling.footer-right-col #footer{
	position:static
}
/* Back top float */
.full-section-scrolling #pagewrap .back-top.back-top-float {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: auto;
	bottom: 100%;
    margin: 0;
    width: 60px;
	height: 35px;
	transition:all .7s ease-in-out;
	border-radius:8px 8px 0 0;
	opacity:1;
	visibility:visible
}
.full-section-scrolling #footerwrap.expanded .back-top.back-top-float {
	transform: translate(-50%, 100%);
	border-radius:0 0 8px 8px
}
#pagewrap .back-top.back-top-float .arrow-up{
	position:static;
	height:100%;
}
#pagewrap .back-top .arrow-up a{
	padding:2px 0 8px
}
#pagewrap .expanded .back-top .arrow-up a{
	border-radius:0 0 5px 5px;
}
#pagewrap .expanded .back-top .arrow-up{
	font-size:24px;
	margin-top:0;
	padding:0;
}
#pagewrap .expanded .back-top .arrow-up a:before{
    content:'\2715';
    transform:none;
	border:none;
	margin:-10px 0 0 -8px;
}

/* One Page Scroll Plugin Styles */
html,body{
	/*Avoid flicker on slides transitions for mobile phones #336 */
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
.fp-section{
	position:relative;
	box-sizing:border-box
}
.fp-slide{
	float:left
}
.fp-slide,.fp-slidesContainer{
	height:100%;
	display:block
}
@media screen and (max-width:750px){
	.fp-slide{
		overflow:auto!important;
		height:100vh!important
	}
	.fp-slide::-webkit-scrollbar{
		width:1px
	}
}
.fp-slides{
	z-index:1;
	height:100%;
	width:100%;
	overflow:hidden;
	position:relative;
	transition:background-color .3s ease-out
}
.fp-slidesContainer{
	float:left;
	position:relative;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	width:100%!important
}
.fp-controlArrow{
	position:absolute;
	z-index:4;
	top:50%;
	cursor:pointer;
	margin-top:-38px;
	width:48px;
	height:48px;
	color:#fff;
	background-color:rgba(0,0,0,.1);
	padding:9px;
	box-sizing:border-box;
	border-radius:100%;
	transition:background 1s
}
.fp-controlArrow:hover{
	background-color:rgba(0,0,0,.3)
}
.fp-controlArrow:before{
	content:'';
	width:15px;
	height:15px;
	display:block;
	border-width:2px 2px 0 0;
	border-style:solid;	
	border-color:#fff;
	transform:rotate(45deg);
	position:absolute;
	margin:5px
}
.fp-controlArrow.fp-prev:before{
	left:15px;
	transform:rotate(-135deg)
}
.fp-controlArrow.fp-prev{
	left:20px
}
.fp-controlArrow.fp-next{
	right:20px
}
.fp-controlArrow.fp-prev:hover:before,
.fp-controlArrow.fp-next:hover:before{
	animation:fp-arr .7s infinite;
	animation-timing-function:linear
}
@keyframes fp-arr{
	0%{left:15px}
	50%{left:10px}
	100%{left:15px}
}
.fp-scrollable{
    overflow:hidden;
    position:relative
}
.fp-easing{
	transition:.7s ease-out
}
#fp-nav{
	position:fixed;
	z-index:100;
	margin-top:-32px;
	top:50%;
	opacity:1
}
#fp-nav.right{
	right:5px;
}
#fp-nav.left{
	left:17px
}
.full-section-scrolling-horizontal #fp-nav.right{
	display:none
}
/* set split scroll nav menu */
#fp-nav .fp-tooltip{
	padding:.575em 1.5em;
	background-color:rgba(0,0,0,.8);
	border-top-left-radius:5em;
	border-bottom-left-radius:5em;
	right:3em;
	top:-1em
}
#fp-nav li:hover>.fp-tooltip{
	opacity:1;
	visibility:visible
}
#fp-nav .fp-tooltip:after{
	content:" ";
	border:solid transparent 1.5em;
	border-left:solid rgba(0,0,0,.8) 1.5em;
	bottom:50%;
	width:0;
	height:0;
	left:100%;
	margin-bottom:-1.5em;
	position:absolute
}
#fp-nav li{
	display:block;
	text-transform:uppercase
}
.fp-slidesNav{
	position:absolute;
	z-index:4;
	left:50%;
	bottom:30px;
	opacity:1;
}
.footer-none .fp-slidesNav.bottom{
	bottom:30px
}
.fp-slidesNav.top{
	bottom:auto;
	top:17px
}
#fp-nav ul,
.fp-slidesNav ul{
	margin:0;
	padding:0
}
#fp-nav li,
.fp-slidesNav li{
	width:14px;
	height:13px;
	margin:7px;
	position:relative
}
.fp-slidesNav li{
	display:inline-block
}
#fp-nav li a,
.fp-slidesNav li a{
	display:block;
	position:relative;
	z-index:1;
	width:100%;
	height:100%;
	cursor:pointer;
	text-decoration:none;
	outline:none
}
#fp-nav li .active span,
.fp-slidesNav .active span{
	border-color:rgba(91,50,185,.73)!important;
	width:10px;
	height:10px;
	margin-left:-2px;
	margin-top:-1px;
	background:none!important
}
#fp-nav span,
.fp-slidesNav span{
    top:2px;
    left:2px;
    width:6px;
    height:6px;
    border:2px solid rgba(123,123,123,.77)!important;
    position:absolute;
    border-radius:50%;
    z-index:1
}
.fp-tooltip{
	position:absolute;
	top:-2px;
	color:#fff;
	font-size:14px;
	font-family:arial,helvetica,sans-serif;
	white-space:nowrap;
	max-width:220px;
	opacity:0;
	transition:opacity .4s ease-in-out;
	visibility:hidden
}
.vertical-centered{
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
	width:100%
}
.iScrollVerticalScrollbar{
	width:4px!important
}
.iScrollIndicator{
	background:rgba(0,0,0,.3)!important;
	border:none!important
}
/* MOBILE MENU ACTIVE */
body:not(.header-overlay):not(.mobile_menu_active).full-section-scrolling.sidemenu-right{
	left:0
}
.mobile_menu_active .full_width .module_row .row_inner{
	max-width:90%
}
.full-section-scrolling.mobile_menu_active #headerwrap #searchform #s{
	width:100%;
	float:none;
	transition:none;
	margin:auto;
	color:#000;
	padding:5px 15px 5px 35px;
	background-color:#fff;
	position:static;
	height:auto
}
.full-section-scrolling.mobile_menu_active #headerwrap #searchform .tf_fa{
	left:7px;
	top:3px;
	position:absolute;
	background:transparent;
	color:#000;
	width:16px;
	height:16px;
	font-size:18px;
	padding:3px;
	margin:0
}
.full-section-scrolling .themify_builder .module_row{
	display:flex
}
/* Set full width column */
.full-section-scrolling .themify_builder .module_row,
.full-section-scrolling .module_row .fp-tableCell{
	width:100%!important
}
 /*for row video */
.full-section-scrolling .module_row .fp-tableCell,
.full-section-scrolling .module_subrow{
	z-index:2
}
.full-section-scrolling .module_row .tb_fullwidth_video{
	z-index:1
}
.full-section-scrolling .themify_builder:not(.not_editable_builder) .row_inner,
.full-section-scrolling .row_inner > .tb-column{
	height:100%
}
.fp-scroller{
    overflow:hidden
}
.full-section-scrolling .fp-row-layour-part > .tb-column{
	height:auto
}
/* reset row height in layout part */
.full-section-scrolling .themify_builder:not(.not_editable_builder) .module-layout-part  .module_row:not(.fullheight),
.full-section-scrolling .module-layout-part .themify_builder .module_row:not(.fullheight) .row_inner,
.full-section-scrolling .module-layout-part .module_row:not(.fullheight) .row_inner > .tb-column{
	height:auto;
	min-height:0
}
/*middle*/
.full-section-scrolling .module_row.fp-table .module_column{
	align-items:center; /* for single line flex container */
	align-content:center; /* for multi-line flex container */
}
/*top*/
.full-section-scrolling .module_row.fp-table .col_align_top>.module_column{
	align-items:flex-start;
	align-content:flex-start
}
/*bottom*/
.full-section-scrolling .module_row.fp-table .col_align_bottom>.module_column{
	align-items:flex-end;
	align-content:flex-end
}
.full-section-scrolling .themify_builder .module_row{
	background-attachment:scroll!important; /* prevent fixed bg not showing */
}
.full-section-scrolling .fp-bg{
	z-index:0;
	background-image: inherit;
	background-size:inherit;
    background-position:inherit;
    height:100%!important;
    background-attachment:inherit;
    background-repeat:inherit
}
@media screen and (max-width:1260px){
	.full_width .module_row .fp-scroller > .row_inner,
	.full_width .module_row .fp-tableCell > .row_inner{
		max-width:96%;
	}
	.full_width .module_row.fullwidth .fp-scroller > .row_inner,
	.full_width .module_row.fullwidth .fp-tableCell > .row_inner{
		max-width:100%;
	}
}
@media screen and (max-width:760px){
	.full_width .module_row .fp-scroller > .row_inner,
	.full_width .module_row .fp-tableCell > .row_inner{
		max-width:90%;
	}
	.full_width .module_row.fullwidth .fp-scroller > .row_inner,
	.full_width .module_row.fullwidth .fp-tableCell > .row_inner{
		max-width:100%;
	}
}
/* required:reset column height on mobile */
@media screen and (max-width:680px){
	.header-minbar.full-section-scrolling.mobile_menu_active #footerwrap{
		margin-left:0;
		padding-left:46px
	}
	.full-section-scrolling .row_inner > .tb-column{ 
		height:auto
	}
	.full-section-scrolling .module_row.fp-table .row_inner .col-full.tb-column{
		min-height:100%;
		display:flex;
		width:100%;
		flex-wrap:wrap
	}
	.fp-controlArrow{
		width:36px;
		height:36px;
		margin-top:-16px;
		padding:0;
		top:auto;
		bottom:14px;
	}
	.fp-controlArrow:before{
		width:12px;
		height:12px;
		margin:10px
	}
	.fp-controlArrow.fp-prev:before{
		margin-left:0
	}
}
@media screen and (max-height:900px){
	.full-section-scrolling #headerwrap .header-widget-inner{
		max-height:70vh
	}
}
@media(hover:none){
	.mobile-menu-visible.full-section-scrolling{
		overflow:visible!important
	}
}
