
[mysqladmin]
user=root

[mysqld]
basedir=/home/emmanoe/App/wordpress-5.6-0/mysql
datadir="/home/emmanoe/App/wordpress-5.6-0/mysql/data"
port=3306
socket=/home/emmanoe/App/wordpress-5.6-0/mysql/tmp/mysql.sock
tmpdir=/home/emmanoe/App/wordpress-5.6-0/mysql/tmp
max_allowed_packet=32M
bind-address=127.0.0.1
skip-name-resolve=1
binlog_expire_logs_seconds=604800
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci

default-authentication-plugin=mysql_native_password
[client]
port=3306
socket=/home/emmanoe/App/wordpress-5.6-0/mysql/tmp/mysql.sock

default-character-set=utf8mb4
[manager]
port=3306
socket=/home/emmanoe/App/wordpress-5.6-0/mysql/tmp/mysql.sock
pid-file=/home/emmanoe/App/wordpress-5.6-0/mysql/tmp/manager.pid
default-mysqld-path=/home/emmanoe/App/wordpress-5.6-0/mysql/bin/mysqld.bin

